div {
  display: inline-block;
  margin: 0;
}

.right,
.left {
  height: 873px;
  width: 437px;
}

.right {
  float: left;
  background: #f44141;
  border-bottom-right-radius: 960px;
  border-top-right-radius: 960px;
}

.left {
  float: right;
  background: #4286f4;
  border-bottom-left-radius: 960px;
  border-top-left-radius: 960px;
}