*{
   color: #FFFFFF; font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   font-weight: bold;
    /* overflow-x: hidden; 
    overflow-y: auto; */
}

body {
  background-color: #000000;
}

.transform1, .transform2 {
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 750px;
  width: 850px;
}

h1 {
  color: white;
}

div {
  display: inline-block;
  margin: 0;
}

.right,
.left {
  height: 873px;
  width: 437px;
}

.left {
  float: left;
  background: #4286f4  ;border-bottom-right-radius: 960px;
  border-top-right-radius: 960px;
}

.right {
  float: right;
  background: rgb(244, 65, 65);
  border-bottom-left-radius: 960px;
  border-top-left-radius: 960px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#utopia_text{
  font-family: 'Arvo', serif;
  font-size: 7vh;
  text-align:  
}

#dystopia_text{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7vh;
}


img.world
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         100s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    height: 80vh;
}